html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100%;
  background-image: linear-gradient(
    to right bottom,
    #6b85d1,
    #7a86d8,
    #8a87dd,
    #9a87e2,
    #ab87e5,
    #ae83e7,
    #b17fe9,
    #b47beb,
    #a873ef,
    #996cf2,
    #8865f7,
    #735ffb
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;
